.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    border-radius: 7px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    transition: 600ms ease all;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.signin-signup {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: black;
        border: none;
        box-shadow: 0 4px 8px 0px rgba(255, 0, 0, 0.568), 0 6px 20px 0px rgba(255, 0, 0, 0.568);
      }
    }

    &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: black;
      border: none;
      box-shadow: 0 4px 8px 0px rgba(255, 0, 0, 0.568), 0 6px 20px 0px rgba(255, 0, 0, 0.568);
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: black;
      color: white;
      border: none;
      box-shadow: 0 4px 8px 0px rgba(255, 0, 0, 0.568), 0 6px 20px 0px rgba(255, 0, 0, 0.568);
    }
  }

}