.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 7px 0 7px 7px;   //add 
    padding: 10px;
    padding-right: 2px;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.25), 0 3px 20px 0 rgba(255, 255, 255, 0.25); // add
    background-color: rgba(0, 0, 0, 0.8);
    top: 90px;
    right: 30px; //main:40px
    z-index: 5;

    .empty-message {
      font-size: 22px;
      margin: 50px auto;
      color: white;
    }

    .cart-items {
      height: 280px;
      display: flex;
      flex-direction: column;
      overflow: auto;       //main:scroll
    }
  
    button {
      margin-top: auto;
      margin-right: 8px;
    }
  }
  